html {
    box-sizing: border-box;
    font-size: 62.5%;   /* 1 rem = 10px */
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-family: 'Raleway', sans-serif;
    font-size: 1.6rem;
}
/* Globales */
img {
    max-width: 100%;
}

h1 {
    font-size: 4rem;
}

h3 {
    font-size: 2rem;
}

/* Contenido */
.contenedor {
    max-width: 1200px;
    width: 95%;
    margin: 0 auto;
}

.boton{
    display: inline-block;
    background-color: #2196F3;
    color: white;
    padding: 1rem 3rem;
    margin-top: 1rem;
    font-size: 2rem;
    font-weight: 700;
    border-radius: .5rem;
    text-decoration: none;
    text-transform: uppercase;
    width: 100%;
}

.diana{
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}



@media (min-width: 768px){
    .contenedor{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        column-gap: 2rem;
    }
    .tres{
        grid-column: 1 / 3;
    }

    .diana{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .boton{
        width: 85%;
    }
    
}

table {
    margin: auto;
    width: 50rem;
    height: 20rem;
    border: 1px solid black;
    border-collapse: collapse;
    }
    
td {
    border: 1px solid black;
    padding: .5rem;
    text-align: center;
}

#contenedorTabla{
    display: inline-block;
    text-align: center;
}



